body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

p, h5 {
    margin: 0.5rem;
}

.app {
    position: relative;
    width: 414px;
    height: 420px;
    display: block;
    margin: auto;
    text-align: center;
    padding: 40px 0;
    overflow: hidden;
    border-radius: 50px;
    background-image: linear-gradient(
        325deg,
        hsl(240deg 97% 55%) 0%,
        hsl(240deg 97% 65%) 32%,
        hsl(240deg 97% 70%) 59%,
        hsl(240deg 96% 75%) 74%,
        hsl(240deg 96% 79%) 84%,
        hsl(240deg 96% 82%) 90%,
        hsl(240deg 96% 85%) 94%,
        hsl(240deg 96% 88%) 97%,
        hsl(240deg 96% 91%) 99%,
        hsl(240deg 96% 93%) 100%,
        hsl(240deg 96% 96%) 100%,
        hsl(240deg 95% 98%) 100%,
        hsl(0deg 0% 100%) 100%
    );
}

#search-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 30px;
    color: #fff;
}

#search-bar-input {
    border: none;
    outline: none;
    width: 90%;
    background: transparent;
    font-size: 1.4rem;
    color: #fff;
    border-bottom: solid 1px lightblue;
}

input::placeholder {
    color: #fff;
    opacity: 0.6;
}

#search-icon {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
}

#info {
    line-height: 0.5rem;
    color: #fff;
}

#info h4 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem;
}

#description {
    text-transform: uppercase;
    color: #fff;
}

#temp-img {
    margin-bottom: -30px;
}

#temp {
    font-size: 2rem;
    color: #fff;
}

.extra-info {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding-bottom: 30px;
}

.extra-info h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.extra-info p {
    font-size: 1.7rem;
}
